.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    background-color: #824e1c;
}

.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.front-header-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.front-header-left .title {
    color: #eee;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.front-header-center {
    flex: 1;
    display: flex;
    align-items: center;
}

.front-header-right {
    padding-right: 20px;
}

.main-content {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100vh;
}

/*Element-Plus样式覆盖*/
.el-menu--horizontal {
    border: none !important;
    height: 60px;
    background-color: #824e1c;
}
.el-tooltip__trigger {
    outline: none;
}
.el-menu--horizontal .is-active {
    background-color: #653101 !important;
    color: #ffba00 !important;
}
.el-menu-item {
    color: #eee;
    border: none !important;
}
.el-menu-item:not(.is-active):hover {
    background-color: #824e1c;
    color: #ffba00;
}